<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{ABSOLUTE} [%t] %-5p - %C{1}.%M(%L) | %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>
    
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>

