*.iml
*.iws
*.ipr
MANIFEST.MF
derby.log
target
tomcat.8080
activemq-data
id_file
.idea
.classpath
.project
.settings/
assembly/bin
work
/atlassian-ide-plugin.xml

/platform-camel/core/KahaDB/db-1.log
/platform-camel/core/KahaDB/db.data
/platform-camel/core/KahaDB/db.redo
/platform-camel/core/KahaDB/lock
/commons/core/generated-stubs
/commons/flow/generated-stubs
/commons/ihe/core/generated-stubs
/commons/ihe/hl7v2/generated-stubs
/commons/ihe/hl7v2ws/generated-stubs
/commons/ihe/hl7v3/generated-stubs
/commons/ihe/ws/generated-stubs
/commons/ihe/xds/generated-stubs
generated-stubs
