#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xmlns:camel="http://activemq.apache.org/camel/schema/spring"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/lang 
http://www.springframework.org/schema/lang/spring-lang-2.5.xsd
http://activemq.apache.org/camel/schema/spring 
http://activemq.apache.org/camel/schema/spring/camel-spring.xsd">

    <camel:camelContext id="camelContext">
        <camel:jmxAgent id="agent" disabled="true" />
    </camel:camelContext>

    <bean id="producerTemplate" 
        factory-bean="camelContext"
        factory-method="createProducerTemplate">
    </bean>

    <bean id="routeBuilder"
        class="org.openehealth.ipf.platform.camel.core.builder.RouteBuilder">
        <property name="routeModelExtender" ref="routeModelExtender" />
        <property name="routeBuilderConfig" ref="routeBuilderConfig" />
    </bean>

    <lang:groovy id="coreModelExtension" 
        script-source="classpath:org/openehealth/ipf/platform/camel/core/extend/CoreModelExtension.groovy">
        <lang:property name="routeBuilder" ref="routeBuilder" />
    </lang:groovy>

    <lang:groovy id="sampleModelExtension" 
        script-source="classpath:${packageInPathFormat}/SampleModelExtension.groovy">
    </lang:groovy>

    <lang:groovy id="routeBuilderConfig" 
        script-source="classpath:${packageInPathFormat}/SampleRouteConfig.groovy">
    </lang:groovy>

    <lang:groovy id="routeModelExtender" 
        script-source="classpath:org/openehealth/ipf/platform/camel/core/extend/DefaultModelExtender.groovy">
        <lang:property name="routeModelExtensions">
            <list>
                <ref bean="coreModelExtension" />
                <ref bean="sampleModelExtension" />
            </list>
        </lang:property>
    </lang:groovy>

</beans>
