<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.openehealth.ipf.platform.camel.test/src/main/java/org/openehealth/ipf/platform/camel/test/performance/server/PerformanceMeasurementServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.openehealth.ipf.platform.camel.test.performance.server.PerformanceMeasurementServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.openehealth.ipf.platform.camel.test"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcom.sun.management.jmxremote&#13;&#10;-Dcom.sun.management.jmxremote.port=1802&#13;&#10;-Dcom.sun.management.jmxremote.authenticate=false&#13;&#10;-Dpms.http.port=9191&#13;&#10;-Dpms.jetty.http.client.options=httpClient.idleTimeout=30000&amp;httpClient.maxConnectionsPerAddress=5&#13;&#10;-Dpms.override.measurement.history.reference.date=true"/>
</launchConfiguration>
