<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright 2008 the original author or authors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
	limitations under the License. -->
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="org.openehealth.ipf.platform.manager.connection.ui.view.ConnectionView"
            icon="icons/computer.png"
            id="org.openehealth.ipf.platform.manager.connection.ui.view.ConnectionView"
            name="%connections_view_name">
      </view>
      <category
            id="org.openehealth.ipf.platform.manager.connection.ui.category"
            name="ConnectionViews">
      </category>
   </extension>
    <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.openehealth.ipf.platform.manager.connection.ui.perspective.DefaultPerspective"
            fixed="false"
            icon="icons/computer.png"
            id="org.openehealth.ipf.platform.manager.connection.ui.perspective.DefaultPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=file">
         <menu
               id="org.openehealth.ipf.platform.manager.connection.ui.main.menu"
               label="%connection_menu_title">
                <menu id="org.openehealth.ipf.platform.manager.connection.ui.main.menu.new.group" label="%new_group"> 
  			       <command
               			commandId="org.openehealth.ipf.platform.manager.connection.ui.new"
               			disabledIcon="icons/connection/connect_disabled.png"
               			icon="icons/connection/computer_add.png"
               			tooltip="%new_connection_tooltip">
         			</command>
         		</menu>
            <separator
                  name="org.openehealth.ipf.platform.manager.connection.ui.main.menu.separator1"
                  visible="true">
            </separator>
            
            <menu
                  id="org.openehealth.ipf.platform.manager.connection.ui.menu.show.in.menu"
                  label="%show_in_menu"
                  tooltip="%show_in_menu_tooltip">
            </menu>
            <separator
                  name="org.openehealth.ipf.platform.manager.connection.ui.main.menu.separator2" visible="true">
            </separator>
            <command
                  commandId="org.openehealth.ipf.platform.manager.connection.ui.connect"
                  icon="icons/connection/connect.png">
            </command>
            <command
                  commandId="org.openehealth.ipf.platform.manager.connection.ui.disconnect"
                  icon="icons/connection/disconnect.png">
            </command>
            <separator
                  name="org.openehealth.ipf.platform.manager.connection.ui.main.menu.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.openehealth.ipf.platform.manager.connection.ui.delete"
                  icon="icons/connection/computer_delete.png">
            </command>
         </menu>
      </menuContribution>
            
      <menuContribution
            locationURI="popup:org.openehealth.ipf.platform.manager.connection.ui.view.ConnectionView?after=additions">
         <menu
               id="org.openehealth.ipf.platform.manager.connection.ui.popup.new.group"
               label="%new_group">
            <command
                  commandId="org.openehealth.ipf.platform.manager.connection.ui.new"
                  disabledIcon="icons/connection/connect_disabled.png"
                  icon="icons/connection/computer_add.png"
                  tooltip="%new_connection_tooltip">
            </command>
         </menu>
       
         <separator
               name="org.openehealth.ipf.platform.manager.connection.ui.separator1"
               visible="true">
         </separator>
       
         <separator
               name="org.openehealth.ipf.platform.manager.connection.ui.separator2"
               visible="true">
         </separator>
         <menu
               id="org.openehealth.ipf.platform.manager.connection.ui.show.in.menu"
               label="%show_in_menu"
               tooltip="%show_in_menu_tooltip">
         </menu>
         <separator
               name="org.openehealth.ipf.platform.manager.connection.ui.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.openehealth.ipf.platform.manager.connection.ui.connect"
               icon="icons/connection/connect.png">
         </command>
         <command
               commandId="org.openehealth.ipf.platform.manager.connection.ui.disconnect"
               icon="icons/connection/disconnect.png">
         </command>
         <separator
               name="org.openehealth.ipf.platform.manager.connection.ui.separator3"
               visible="true">
         </separator>
         <command
               commandId="org.openehealth.ipf.platform.manager.connection.ui.delete"
               icon="icons/connection/computer_delete.png">
         </command>
      </menuContribution>
      
      
      <menuContribution
            locationURI="toolbar:main?after=additions">
         <command
               commandId="org.openehealth.ipf.platform.manager.connection.ui.new"
               disabledIcon="icons/connection/connect_disabled.png"
               icon="icons/connection/computer_add.png"
               id="org.openehealth.ipf.platform.manager.connection.ui.new.id"
               tooltip="%new_connection_tooltip">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.openehealth.ipf.platform.manager.connection.ui.view.ConnectionView?after=additions">
         <command
               commandId="org.openehealth.ipf.platform.manager.connection.ui.new"
               icon="icons/connection/computer_add.png"
               tooltip="%new_connection_tooltip">
         </command>
         <command
               commandId="org.openehealth.ipf.platform.manager.connection.ui.connect"
               icon="icons/connection/connect.png"
               tooltip="%open_connection_tooltip">
         </command>
         <command
               commandId="org.openehealth.ipf.platform.manager.connection.ui.disconnect"
               icon="icons/connection/disconnect.png"
               tooltip="%close_connection_tooltip">
         </command>
         <command
               commandId="org.openehealth.ipf.platform.manager.connection.ui.delete"
               icon="icons/connection/computer_delete.png"
               tooltip="%delete_connection_tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.openehealth.ipf.platform.manager.connection.ui.commands"
            id="org.openehealth.ipf.platform.manager.connection.ui.connect"
            name="%open_connection_command_name">
      </command>
      <category
            id="org.openehealth.ipf.platform.manager.connection.ui.commands"
            name="Connections">
      </category>
      <command
            categoryId="org.openehealth.ipf.platform.manager.connection.ui.commands"
            id="org.openehealth.ipf.platform.manager.connection.ui.disconnect"
            name="%close_connection_command_name">
           
      </command>
      <command
            categoryId="org.openehealth.ipf.platform.manager.connection.ui.commands"
            id="org.openehealth.ipf.platform.manager.connection.ui.new"
            name="%new_connection_command_name">
      </command>
      <command
            categoryId="org.openehealth.ipf.platform.manager.connection.ui.commands"
            id="org.openehealth.ipf.platform.manager.connection.ui.delete"
            name="%delete_connection_command_name">
      </command>
      <command
            categoryId="org.openehealth.ipf.platform.manager.connection.ui.commands"
            id="org.openehealth.ipf.platform.manager.connection.ui.properties"
            name="%connection_properties_command_name">
      </command>
    </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.openehealth.ipf.platform.manager.connection.ui.handlers.NewConnectionHandler"
            commandId="org.openehealth.ipf.platform.manager.connection.ui.new">
      </handler>
      <handler
            class="org.openehealth.ipf.platform.manager.connection.ui.handlers.CloseJMXConnectionHandler"
            commandId="org.openehealth.ipf.platform.manager.connection.ui.disconnect">
         <enabledWhen>
            <reference
                  definitionId="org.openehealth.ipf.platform.manager.connection.ui.single.selection">
            </reference>
         </enabledWhen>
     </handler>
      <handler
            class="org.openehealth.ipf.platform.manager.connection.ui.handlers.OpenJMXConnectionHandler"
            commandId="org.openehealth.ipf.platform.manager.connection.ui.connect">
         <enabledWhen>
            <reference
                  definitionId="org.openehealth.ipf.platform.manager.connection.ui.single.selection">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.openehealth.ipf.platform.manager.connection.ui.handlers.DeleteConnectionHandler"
            commandId="org.openehealth.ipf.platform.manager.connection.ui.delete">
         <enabledWhen>
            <reference
                  definitionId="org.openehealth.ipf.platform.manager.connection.ui.single.selection">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.openehealth.ipf.platform.manager.connection.ui.handlers.PropertiesHandler"
            commandId="org.openehealth.ipf.platform.manager.connection.ui.properties">
         <enabledWhen>
            <reference
                  definitionId="org.openehealth.ipf.platform.manager.connection.ui.single.selection">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.openehealth.ipf.platform.manager.connection.ui.single.selection">
         <and>
             <with variable="selection">
  				<count value="+"/>
  				<iterate operator="and">
	     			<adapt 	type="org.openehealth.ipf.platform.manager.connection.IConnectionConfiguration">
     				</adapt>
     			</iterate>
  			</with>
         </and>
     </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.openehealth.ipf.platform.manager.connection.ui.tree.ConnectionNode"
            class="org.openehealth.ipf.platform.manager.connection.ui.adapter.ConnectionAdapterFactory">
         <adapter
               type="org.openehealth.ipf.platform.manager.connection.IConnectionConfiguration">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            class="org.openehealth.ipf.platform.manager.connection.ui.wizards.NewConnectionWizard"
            hasPages="true"
            id="org.openehealth.ipf.platform.manager.connection.ui.wizards.NewConnectionWizard"
            name="%new_connection_wizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.openehealth.ipf.platform.manager.connection.ui.perspective.DefaultPerspective">
         <view
               id="org.openehealth.ipf.platform.manager.connection.ui.view.ConnectionView"
               ratio="0.95"
               relationship="stack"
               relative="org.openehealth.ipf.platform.manager.connection.ui.perspective.DefaultPerspective.main.left.top">
         </view>
         <viewShortcut
               id="org.openehealth.ipf.platform.manager.connection.ui.view.ConnectionView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
  </plugin>
