<!--
  ~ Copyright 2015 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:camel="http://camel.apache.org/schema/spring"
    xmlns:ipf="http://openehealth.org/schema/ipf-commons-core"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://camel.apache.org/schema/spring
http://camel.apache.org/schema/spring/camel-spring.xsd 
http://openehealth.org/schema/ipf-commons-core
http://openehealth.org/schema/ipf-commons-core.xsd">

    <ipf:globalContext id="globalContext"/>

    <!-- Camel context and producer -->
    <camel:camelContext id="camelContext">
        <camel:jmxAgent id="agent" disabled="false" />
        <camel:routeBuilder ref="iti83RouteBuilder"/>
        <camel:routeBuilder ref="iti78RouteBuilder"/>
    </camel:camelContext>

    <!-- Route builders for the ITI-83 transaction and translation to ITI-9 -->
    <bean id="iti83RouteBuilder"
          class="org.openehealth.ipf.tutorials.fhir.Iti83RouteBuilder">
        <constructor-arg index="0" ref="uriMapper"/>
        <constructor-arg index="1" value="127.0.0.1" />
        <constructor-arg index="2" value="13710"/>

        <property name="validateIti9Request" value="false"/>
        <property name="validateIti9Response" value="false" />
    </bean>

    <!-- Route builders for the ITI-78 transaction and translation to ITI-21. -->
    <bean id="iti78RouteBuilder" class="org.openehealth.ipf.tutorials.fhir.Iti78RouteBuilder">
        <constructor-arg index="0" ref="uriMapper"/>
        <constructor-arg index="1" value="127.0.0.1" />
        <constructor-arg index="2" value="13750"/>

        <property name="validateIti21Request" value="false"/>
        <property name="validateIti21Response" value="false" />
    </bean>


    <!-- URI Mapping stuff -->
    <bean id="uriMapper" class="org.openehealth.ipf.commons.ihe.fhir.translation.DefaultUriMapper">
        <constructor-arg index="0" ref="mappingService"/>
        <constructor-arg index="1" value="uriToOid"/>
        <constructor-arg index="2" value="uriToNamespace"/>
    </bean>

    <bean id="mappingService" class="org.openehealth.ipf.commons.map.SpringBidiMappingService">
        <property name="mappingScripts">
            <list>
                <value>classpath:mapping.map</value>
                <value>classpath:META-INF/map/fhir-hl7v2-translation.map</value>
            </list>
        </property>
    </bean>

    <!-- Codec for creating and accepting MLLP frames for HL7v2 transactions -->
    <bean id="hl7codec" class="org.apache.camel.component.hl7.CustomHL7MLLPCodec">
        <property name="charset" value="UTF-8"/>
    </bean>

</beans>
